body {
  max-width: 800px;
  margin: 0 auto;
  background: linear-gradient(to bottom right, #e7e7e7, #a8a8a8);
}

h1, h3, p {
  text-align: center;
  margin: 6px 0;
}

h3 {
  margin: 2em 0;
}

header {
  background: linear-gradient(to bottom right, #EBD7AD, #ffecc4);
  border-radius: 1em;
  padding: 12px 16px;
  margin: 1.4rem 0;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 1em;
}

#tribute-info {
  background: linear-gradient(to bottom right, #EBD7AD, #ffecc4);
  padding: 1em 2em;
  border-radius: 1em;
}

li {
  margin: 1em 0;
  font-size: 18px;
}